* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }

  /* Colores
  
  #252525 (Gris, Background)
  #FFA400 (amarillo)
  #FC2933 (rojo)
  #FFFFFF (Blanco)
  #FFA100, #FB103D (Naranja,Rojo linear gradiant)
  
  */